

.main{
    width: 100%;
    height: 100vh;
   background-image: url(a18.jpg);
    background-size: cover;
    background-position: center;
}
.main span{
    font-size: 30px;
    color: white;
    position:relative;
    top: 10px;
    left: 10px;
    
}
.main h1{
    text-align: center;
    color: white;
    font-size: 2.5625rem;
    margin-top: 90px;
}
.card{
   
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box{
    margin-top: 60px;
    width: 350px;
    height: 300px;
    border: 3px solid white;
    background-color: black;
    border-radius: 10px;
    color: white;
 
}
.title{
   text-align: center;
   font-size: 20px;
   margin: 50px;
   
}
.content-text{
    
text-align: center;
line-height:1.240 ;
}

.btn{

    width: 60%;
    position: relative;
    top: 50px;
  text-align: center;
  margin-top: 70px;
  border: 3px solid white;
 border-radius: 10px;
 cursor: pointer;
 margin: 10px;
 margin-left: 50px;
  
  
}
.btn a{
    text-decoration: none;
    color: white;
}
.btn:hover{
    background: blue;
}
.banner{
    width: 100%;
    height: 100vh;
    background-color: white;
    
}
.banner-1{
    /* display: flex;
    justify-content: space-evenly;
    text-align: center; */
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}
.content-card{
    border-radius: 10px;
    border: 1px solid #ebebeb;
    width: 350px;
    height: 400px;
    box-shadow:0 3px 14.25px 0.75px rgba(19,31,21,.11) ;
   font-weight: 600;
   font-size: 1.3rem;

    
}
.content-card h1{
    /* font-weight: 100; */
    font-size: 30px;
    margin-top: 50px;
    color: #333;

}
.content-card p{
    margin-top: 50px;
    font: size 1.9em;
    font-weight: 400;
     color: #333;
}
.content-card i{
    font-size: 50px;
    margin-top: 20px;
}
.img{
    /* display: flex;
    justify-content: space-evenly; */
    display: flex;
    justify-content: center;
}
.left{
    float: left;
    width: 500px;
    height: 30px;
}
.right{
    width: 200px;
 
    float: right;
    
}


